<div class="container">
  {{#each posts}}
  <h1 class="mb-4">{{this.username}} Post</h1>

  <div class="form-group">
    <label for="title">Title</label>

    {{this.title}}

  </div>
  <div class="form-group">
    <label for="description">User</label>
    {{this.userId}}
  </div>
  <div class="form-group">
    <label for="markdown">Markdown</label>
    {{this.content}}</textarea>
  </div>
  {{/each}}
</div>

