<div class="container">
  {{#each posts}}
  <h2 class="mb-4">  Hello,
    {{this.User.username}}</h2>

  <div class="form-group">
    <label for="title">Title</label>

    {{this.title}}

  </div>
  <div class="form-group">
    <label for="description">User</label>
    {{this.User.username}}
  </div>
  <div class="form-group">
    <label for="markdown">Markdown</label>
    {{this.content}}</textarea>
  </div>
  {{/each}}
<hr/>
</div>

